


<div class="print-reset" style="padding: 35px; padding-top: 5px">
    <table class="print-reset" style="width: 100%; border-collapse: separate">

     <tr>


    <div class="" style="padding: 10px 15px;
    border-radius: 3px; border: 1px solid #ddd;
     background-color: #F5F5F5; box-shadow: 1px 1px 0
     #FFFFFF inset; font-size: 14px;
     font-weight: bold; line-height: 28px; text-shadow:
     1px 1px 0 #FFFFFF;">
        Configuración
    </div>


   <div style="margin-top: 30px">

   <a href="custom-fields?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
       <img src="../media/assets/images/edition-10.png" />
       <span style="margin-left: 10px">Campos personalizados</span>
   </a>
                <a href="tax-codes?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/users-23.png" />
                    <span style="margin-left: 10px">Usuarios
                    </span></a>
                <a href="tracking-codes?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/business-77.png" />
                    <span style="margin-left: 10px">Códigos de seguimiento</span>
    </a>
                <a class="items"><img src="../media/assets/images/communication-41.png" />
                    <span style="margin-left: 10px">Configuración de correo electrónico</span>
                </a>
                <a class="items">
                    <img src="../media/assets/images/business-17.png" />
                    <span style="margin-left: 10px">Detalles de la empresa</span>
                </a>
                <a href="payslip-itemss?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/content-41.png" />
                    <span style="margin-left: 10px">Elementos de la nómina</span>
                </a>
                <a href="recurring-sales-invoices?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/transfers-75.png" />
                    <span style="margin-left: 10px">Facturas por ventas recurrentes</span>
                </a>
                <a  class="items">
                    <img src="../media/assets/images/edition-55.png" />
                    <span style="margin-left: 10px">Fecha de bloqueo</span>
                </a>
                <a href="start-date-form?Referrer=99a38f48-029d-4c6e-b4ae-50e355a499f0&Key=76ed5255-f1a8-463a-8132-2b58c68300c1&FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/time-2.png" />
                    <span style="margin-left: 10px">Fecha de inicio</span>
                </a>
                <a href="business-logo-form?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/multimedia-14.png" />
                    <span style="margin-left: 10px">Logotipo de la empresa</span>
                </a>
                <a href="base-currency-form?Referrer=99a38f48-029d-4c6e-b4ae-50e355a499f0&Key=39dde4fc-7af8-44cc-8572-3b1ff4cfb918&FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/business-64.png" />
                    <span style="margin-left: 10px">Impuestos y Deducciones</span>
                </a>
                <a href="inventory-kits?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/programing-2.png" />
                    <span style="margin-left: 10px">Paquetes de existencias</span>
                </a><a href="chart-of-accounts?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                <img src="../media/assets/images/content-33.png" />
                <span style="margin-left: 10px">Plan de cuentas</span>
            </a>
                <a href="email-templates?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/communication-66.png" />
                    <span style="margin-left: 10px">Plantillas de correo electrónico</span>
                </a>
                <a href="bank-rules?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/design-24.png" />
                    <span style="margin-left: 10px">Reglas Bancarias</span>
                </a>
                <a href="recurring-payslips?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                    <img src="../media/assets/images/transfers-75.png" />
                    <span style="margin-left: 10px">Salarios periódicos</span>
                </a><a href="view-templates?FileID=84d6669a-0a0b-46ce-b5e6-719581f06a71" class="items">
                <img src="../media/assets/images/programing-3.png" />
                <span style="margin-left: 10px">Visualizar plantillas</span>
            </a></div>



        </tr>
    </table>


</div>

