<div class="ui pointing secondary menu">
    <a class="item active" data-tab="tab-activos">Asientos Diarios</a>

    <div class="item right">
        <i class="glyphicon refresh icon" ng-click="end = undefined;star=undefined;pesquisar=undefined"></i>
        <daterangepciker></daterangepciker>

    </div>


</div>
<div class="ui tab active " data-tab="tab-activos">
    <!-- Tab Content !-->
    <div class="ui  " style="padding: 0em 1em 1em 1em ;">
        <div class="ui small blue inverted top attached menu">

            <div class="ui dropdown icon item">
                <i class="wrench icon"></i>
                <div class="menu">
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Nuevo</span>
                        <div class="menu">
                            <div class="item" ng-click="editar(insumo)" >Asiento Diario</div>

                        </div>
                    </div>

                    <div class="divider"></div>
                    <div class="header">
                        Exportar
                    </div>
                    <div class="item">
                        Excel...
                    </div>
                    <div class="item">
                        PDF...
                    </div>
                </div>
            </div>
            <div class="right menu">
                <div class="ui right aligned category search item">
                    <div class="ui inverted icon input">
                        <input  placeholder="Buscar ..." ng-model="pesquisar" type="text">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <table class="ui blue striped sortable compact  celled table" ng-init="listaAsientos()" style="font-size: smaller !important; " >
                <thead>

                <tr style="font-family:'Arial Black';">
                    <th ng-click="sortType ='fecha';sortReverse = !sortReverse">

                        Fecha
                        <i class="chevron up icon" ng-show="sortType == 'fecha' && !sortReverse" ></i>
                        <i ng-show="sortType == 'fecha' && sortReverse" class="chevron down icon"></i>
                    </th>
                    <th ng-click="sortType ='#';sortReverse = !sortReverse">

                        #
                        <i class="chevron up icon" ng-show="sortType == '#' && !sortReverse" ></i>
                        <i ng-show="sortType == '#' && sortReverse" class="chevron down icon"></i>
                    </th>
                    <th ng-click="sortType ='desc';sortReverse = !sortReverse">

                        Descripción
                        <i ng-show="sortType == 'desc' && !sortReverse" class="chevron up icon"></i>
                        <i ng-show="sortType == 'desc' && sortReverse" class="chevron down icon"></i>

                    </th>


                    <th ng-click="sortType ='costo';sortReverse = !sortReverse">Costo
                        <i ng-show="sortType == 'costo' && !sortReverse" class="chevron up icon"></i>
                        <i ng-show="sortType == 'costo' && sortReverse" class="chevron down icon"></i>
                    </th>


                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>

                <tr  dir-paginate="asiento in asientos|orderBy:sortType:sortReverse|daterange:start:end:'comprobante'|filter:pesquisar|itemsPerPage:10" >
                    <td class="collapsing" style="font-weight: bold">{{asiento.fecha}}</td>
                    <td class="collapsing">{{asiento.id}}</td>
                    <td>{{asiento.info}}</td>

                    <td class="collapsing">{{asiento.costo| currency}}</td>


                    <td class="collapsing">
                        <div class="item" ng-click="editar(asiento)">
                            <i class="popup glyphicon glyphicon-edit" data-content="Editar"></i>
                        </div>
                    </td>

                </tr>
                </tbody>
                <tfoot>
                <tr>

                    <th colspan="10" class="text-center">
                        <dir-pagination-controls  boundary-links="true" template-url="../views/dirPagination.tpl.html" max-size="5" >
                        </dir-pagination-controls>
                    </th>
                </tr>
                </tfoot>

            </table>









        </div>
    </div>


    <!-- Modal Cadastro e Edição -->
    <div class="ui small modal" id="modalAsiento" tabindex="-1" role="dialog">

        <div class="header">
            Asiento Diario

        </div>
        <div class="content">
            <form name="asientoForm"   class="ui form asiento">
                <div class="two fields">
                    <div class="field">
                        <label>Fecha</label>
                        <input class="form-control" name="fecha" type="date" ng-model="asiento.fecha" >
                    </div>


                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Cargar a Cuenta</label>
                        <div class="ui fluid search dropdown selection cuenta collapsing">
                            <i class="dropdown icon"></i>
                            <input tabindex="0" autocomplete="off" class="search">
                            <div class="text">Cuentas</div>
                            <select ng-model="asiento.id_cuenta" name="cuenta">

                                <option ng-repeat="cuenta in cuentas track by cuenta.id" value="{{cuenta.id}}">{{cuenta.nombre}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Monto</label>

                        <div class="ui right labeled input">

                            <input class="form-control" type="text" name="costo" ng-model="asiento.costo" >
                            <div class="ui label">$</div>
                        </div>
                    </div>




                </div>
                <div class="field">

                    <label>Descripción</label>
                    <textarea name="info" placeholder="Opcional" ng-model="asiento.info" ></textarea>



                </div>


            </form>
        </div>
        <div class="actions">
            <div class="ui  button" ng-click="cerrar()">Cancelar</div>
            <div class="ui primary button" ng-click="salvar()">Salvar</div>
        </div>
    </div>

</div>

